<h1><%= @article.title %> <%= link_to "Edit article", edit_article_path %> <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></h1>
<p><%= @article.content %></p>
<p><%= link_to "Back to articles list", articles_path %></p>
